.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
!node_modules/
package-lock.json
.sass-cache
css/reveal.min.css
js/reveal.min.js
*~
./CMPUT404-Web-Mining/bk/
./CMPUT404-Web-Mining/chromedriver
./CMPUT404-Web-Mining/chromedriver_linux64.zip*
./ObserverExampleAJAX/static/insipid.html.old
./WebSocketsExamples/__pycache__/
./node_modules/

