.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; 
}
.reveal section img.noborder { 
    background:none; 
    border:none; 
    box-shadow:none;
    max-width:100%;
    max-height:100%;
}
.reveal .slides img.full {
    background:none; 
    border:none; 
    box-shadow:none;
    position: absolute;
    top: 0;
    left: 0;
    height: 720px;
    max-height: 720px;
    max-width: 1280px;
    margin: 0;
}
.fit {
    display: inline-block;
    white-space: nowrap;
}
.columns{
    display: flex;
}
.column{
    flex: 1;
}
table.shrinky td {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
table.wikitable {
    margin: 0 0;
    text-align: center;
    font-size: 40%;
    border: 1px solid white;
}
table.wikitable td, table.wikitable th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    padding: 0.2em 0.2em 0.2em 0.2em;
}
.reveal .slides section>cite {
    font-size: 50%;
    text-align: left;
    line-height: 1;
    display: block;
}
.reveal .slides var {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 90%;
    font-weight: normal;
    color: #ddd;
    background-color: #000;
    box-shadow: 0 0.24ex 0 0 #000, 0 -0.24ex 0 0 #000;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.reveal .slides pre {
    font-family: "Lucida Console", Monaco, monospace;
    width: 90%;
    line-height: 1;
    background-color: #000;
}
.reveal .slides pre code {
    overflow-x: scroll;
    width: max-content;
    background-color: #000;
}
.reveal .slides samp>pre {
    font-size: 50%;
}
.rare {
    opacity: 0.66;
}
.reveal .slides img.emoji {
    border: none;
    padding: 0;
    margin: 0;
    height: 1.75ex;
    vertical-align: baseline;
    background: none;
    position: relative;
    top: 0.25ex;
}
.reveal .slides blockquote {
    text-align: justify;
    margin: 0;
    width: 100%;
    line-height: 1.10;
}
.reveal .slides blockquote>cite {
    display: block;
    font-size: 75%;
    text-align: left;
    margin-top: 1ex;
    font-style: normal;
}
